@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-sans: var(--font-poppins);
  --font-heading: var(--font-bebas);

  --color-primary: #003D78;
  --color-accent: #F4C430;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}